#img_tabela{width: 25px; }

#botao{ position: relative; left: 370px;
        background-color: rgb(92, 6, 50); }

th{ text-align: center; background-color: rgb(92, 6, 50); color: white; font-family: quatar2022; font-size: larger;}

#img_selecoes{width: 20%;}

body{background-color:rgb(232, 227, 227);
     } 

 td { background-color:whitesmoke; color: rgb(92, 6, 50); font-size: 120%;}

 

 table{ height: 25vh; width: 55vh; 
        text-align: center;
       
  margin-left: auto;
  margin-right: auto;
        }
 
 .panel-title { color: rgb(92, 6, 50); text-align: center; font-size: 25px; }
 .panel-body { background-color: whitesmoke}

 h1 {color: rgb(92, 6, 50);
     text-align: center;
     font-size: 40px;}

 h2 {color: rgb(92, 6, 50);
     font-size: 35px;}
 p {font-size: 150%;
    color: rgb(92, 6, 50);}

li{font-size: 130%;}    



 
 



